.appbar {
  padding: auto, 60px; 
  height: 80px;
}

.toolbar {
  margin: auto; 
  width: 100%; 
  height: 100%;
  max-width: 1500px; 
  justify-content: space-between;
}

.nav-button {
  text-decoration: none;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  height: 100%;
  transition: border-bottom 0.1s ease;
  border-radius: 0px;
  color: white;
}

.nav-button:hover {
  border-bottom: 4px solid;
  cursor: pointer;
}

.menu-container {
  height: 100vh;
  background: #111111;
  position: fixed;
  width: 100%;
  z-index: 1;
  padding-top: 200px; 
  color: white;
} 

.menu-button {
   height: 100px;
}

.menu-button:hover {
  border: 4px solid;
  transition: border 0.2s ease;
}